.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10px
}
.time-inputs {
  padding: 20px;
  text-align: center;
}
#race-times {
  text-align: center;
  padding-top: 10px;
}
.card {
  margin-bottom: 20px;
}
#convert-btn {
  border-radius: 20px;
}
#tab-content {
  border-radius: 0 0 5px 5px;
}
.nav-item:first-child{
  border-radius: 5px 0px 0px;
}
.nav-item:nth-child(2){
  border-radius: 0px 5px 0px 0px;
}
.input-group-text{
  border-radius: 0 5px 5px 0;
}